<!DOCTYPE html>
<html class='csstransforms csstransforms3d csstransitions' lang='en-US'>
   <head>
      <meta charset='utf-8'>
      <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
      <title>MyBike</title>
      <meta content='https://project529.com/garage/assets/registering1-42ef94e2003936bedd4dcecc4f0a7486c3b2a5ed5e22d4f82c325b829c5676c8.jpg' property='og:image'>
      <link rel="shortcut icon" type="image/x-icon" href="https://project529.com/garage/assets/favicon-006c02529d1c5f5618f796719c07ef5afb680fd3d844663cece69d47252848c8.ico"/>
      <meta name="csrf-param" content="authenticity_token"/>
      <meta name="csrf-token" content="XzEN2vVazQy+iT1BL5JO23DJ7ni/ZB4i6Qq/gaF/qOlcimcocG7CKpDKhjhiGE3R/QycFfAZMo4z/EqLpXjkoQ=="/>
      <meta name="apple-itunes-app" content="app-id=849303554">
      <meta name="google-site-verification" content="EnxmxH1VDklcglmrhoeUy_nUlIRF8xjf1Q8upLpBvdQ"/>
      <link rel="stylesheet" media="all" href="css/style.css"/>
      <link rel="stylesheet" media="all" href="https:////fonts.googleapis.com/css?family=Abel"/>
      <link rel="stylesheet" media="all" href="https:////fonts.googleapis.com/css?family=Patua+One"/>
      <script src="https://kit.fontawesome.com/8dba173683.js" crossorigin="anonymous"></script>
      <script src="main.js" data-turbolinks-track="true"></script>
      <script src="https://project529.com/garage/assets/cookie-c3d40fe96f2aeb452abe91b091f3fdb071d046132c74143bf41924ffb770c31f.js" data-turbolinks-track="true"></script>
   </head>
   <body>
      <div class='ad-overlay'>
         <div class='ad'>
            <div class='ad-head'></div>
         </div>
      </div>
      <div class='navbar navbar-inverse navbar-fixed-top' role='navigation' style='text-align: left; background: rgba(0,0,0,.85);'>
         <div class='container'></div>
         <div class='navbar-header'>
            <a class='navbar-toggle' href='#sidr' style='float: left;'>
            <span class='sr-only'>Toggle Navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            </a>
            <a class='navbar-brand' data-turbolinks='false' href='/garage/' style='border-bottom: 3px solid rgba(0,0,0,0);'>
            <img alt='' height='45;' src='assets/logo2.png' style='margin-top: -4px;'>
            </a>
         </div>
         <div id='menu_contents'>
            <ul class='nav navbar-nav upper'>
               <li class='active'>
                  <a data-turbolinks='false' href='index.html'>
                  <span>Inicio</span>
                  </a>
               </li>
               <li>
                  <a data-turbolinks='false' href='registrar_bicicleta.html'>
                  <span>
                  Agrega tu bicicleta
                  </span>
                  </a>
               </li>
               <li>
                  <a data-turbolinks='false' href='buscar.html'>
                  <span>Busca</span>
                  </a>
               </li>
               <li>
                  <a data-turbolinks='false' href='bicicleta_encontrada.html'>
                  <span>
                  Bicicletas encontradas
                  </span>
                  </a>
               </li>
            </ul>
            <ul class='nav navbar-nav navbar-right upper' style='padding-right: 20px;'>
               <li>
                  <a href='/help' target='_blank'>
                     <icon class='bigonly fa fa-question-circle fa-fw yellow' title='Help'></icon>
                     Ayuda
                  </a>
               </li>
            </ul>
            <ul class='nav navbar-nav navbar-right upper'>
               <li>
                  <a href='login2.html'>Log In</a>
               </li>
            </ul>
         </div>
      </div>
      <div id='sidr_menu_contents'>
         <ul class='nav navbar-nav upper'>
            <li class='active'>
               <a data-turbolinks='false' href='index.html'>
               Inicio
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='agregar_bicicleta.html'>
               Agrega tu bicicleta
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='buscar.html'>
               Buscar
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='buscar_encontradas.html'>
               Bicicletas encontradas
               </a>
            </li>
            <li>
               <a href='login2.html'>Log In</a>
            </li>
            <li>
               <a href='/help' target='_blank'>
                  <icon class='fa fa-question-circle fa-fw yellow' title='Help'></icon>
                  Ayuda
               </a>
            </li>
         </ul>
      </div>sidr_menu_contents'>
         <ul class='nav navbar-nav upper'>
            <li>
               <a data-turbolinks='false' href='/garage/'>Inicio
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='/garage/bikes/new'>Agrega tu bicicleta
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='/garage/bikes/search'>Busca
               </a>
            </li>
            <li>
               <a data-turbolinks='false' href='/garage/bikes/search_recovered'>Bicicletas encontradas
               </a>
            </li>
            
            <li>
               <a href='/users/sign_in'>Registrate</a>
            </li>
            <li>
               <a href='/help' target='_blank'>
                  <icon class='fa fa-question-circle fa-fw yellow' title='Help'></icon>
                  Ayuda
               </a>
            </li>
         </ul>
      </div>
      <script>
         $(document).ready(function() {
         
             $('.navbar-toggle').sidr({
                 name: 'sidr-menu',
                 source: '#sidr_menu_contents'
             });
         
             $('html').on("click", function() {
                 $.sidr('close', 'sidr-menu');
             });
         
         });
      </script>
      <div class='home-tile tile-1 top-tile' style='background-image: url(https://project529.com/garage/assets/do_red_u_locking-2b66d2c6022eaceb37ee65b3e5b5ced698c042c80568a91dc75ed0e0df84dd7e.jpg); height: 100%; background-repeat: no-repeat; background-size: cover; '>
         <div class='home-content'>
            <div class='frost' style='margin: 0px; margin-bottom: 100px;'>
               <div class='row'>
                  <div class='col-lg-8 col-lg-offset-2'>
                     <div class='user-setting-form'>
                        <div class='row'>
                           <div class='col-sm-12 center'>
                              <img src='assets/logo_black.png' style='height: 100px;'>
                           </div>
                        </div>
                        <hr>
                        <div class='row'>
                           <div class='col-sm-12 center'>
                              <p></p>
                              <div class='row'>
                                 <div class='row'>
                                    <div class='form-group'>
                                       <label class='col-sm-3 control-label'>Ingresa tu email
                                       </label>
                                       <div class='col-sm-6'>
                                          <input autocomplete='username' class='form-control' data-icon='#email_required' data-minlength='4' id='email' maxlength='255' name='user[email]' spellcheck='false' tabindex='1' type='email'></input>
                                       </div>
                                       <div class='col-sm-2'>
                                          <a class='btn' id='check_email' style='height: 34px; margin: 2px'>Continuar
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class='row'>
                                          <div class='form-group'>
                                             <label class='col-sm-3 control-label'>Contraseña
                                             </label>
                                             <div class='col-sm-6'>
                                                <input aria-describedby='user_check' class='form-control' id='user_password' maxlength='255' name='user[password]' spellcheck='false' tabindex='2' type='password' value=''>
                                                <div class='red' id='login_err'></div>
                                                <input id='existing_user_email' name='user[email]' type='hidden'>
                                             </div>
                                          </div>
                                       </div>
                                 <div class='row hidden' id='email_error'>
                                    <div class='form-group'>
                                       <div class='col-sm-5 col-lg-offset-3'>
                                          <div id='email_suggestion'></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class='row new_user_passwords hidden'>
                                    <form class="new_user" id="new_user" action="/garage/users" accept-charset="UTF-8" method="post">
                                       <input name="utf8" type="hidden" value="&#x2713;"/>
                                       <input type="hidden" name="authenticity_token" value="m6UKi8UZEDZtY8n8z00NqSK9pRpjpmuJPh2RwgXqLNOYHmB5QC0fEEMgcoWCxw6jr3jXdyzbRyXk62TIAe1gmw=="/>
                                       <div class="title_1607294217">
                                          <style media="screen">
                                             .title_1607294217 {
                                             position: absolute!important;
                                             top: -9999px;
                                             left: -9999px;
                                             }
                                          </style>
                                          <label for="title">If you are a human, ignore this field</label>
                                          <input type="text" name="title" id="title" tabindex="-1"/>
                                       </div>
                                       <input class='email' id='new_user_email' name='user[email]' type='hidden'>
                                       <p></p>
                                       <div class='row user_name'>
                                          <div class='form-group'>
                                             <label class='col-sm-3 control-label'>Your Name
                                             </label>
                                             <div class='col-sm-6'>
                                                <div class='input-group'>
                                                   <input autocomplete='off' class='form-control is_required' data-icon='#uname_required' data-minlength='5' id='name' maxlength='255' name='user[name]' spellcheck='false' tabindex='1' type='text'>
                                                   <div class='input-group-addon'>
                                                      <i class='fa fa-exclamation-circle red' id='uname_required' title='Recommended'></i>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <p></p>
                                       <div class='row location'>
                                          <div class='form-group'>
                                             <label class='col-sm-3 control-label'>Phone Number
                                             </label>
                                             <div class='col-sm-6'>
                                                <input autocomplete='off' class='form-control' data-icon='#phone_required' data-minlength='10' maxlength='20' name='user[phone_number]' placeholder='Enter your best contact phone number' spellcheck='false' tabindex='2' type='text' width='100%'></input>
                                             </div>
                                          </div>
                                       </div>
                                       <p></p>
                                       <div class='row location'>
                                          <div class='form-group'>
                                             <div class='col-sm-3'></div>
                                             <div class='col-sm-8 left'>
                                                <input value="false" type="hidden" name="user[share_phone]" id="user_share_phone"/>
                                                <input name="user[share_phone]" type="hidden" value="0"/>
                                                <input tabindex="8" type="checkbox" value="1" name="user[share_phone]" id="user_share_phone"/>
                                                <label class="left" for="user_share_phone">Share my contact information with law enforcement</label>
                                                <br>Check this if you want law enforcement to be able to contact you about your bike even if you haven't yet reported your bike stolen. This will help law enforcement return your bike as soon as possible.
                                             </div>
                                          </div>
                                       </div>
                                       <p></p>
                                       <div class='row location'>
                                          <div class='form-group'>
                                             <div class='col-sm-3'></div>
                                             <div class='col-sm-8 left'>
                                                <input value="false" type="hidden" name="user[newsletter_ok]" id="user_newsletter_ok"/>
                                                <input name="user[newsletter_ok]" type="hidden" value="0"/>
                                                <input tabindex="8" type="checkbox" value="1" name="user[newsletter_ok]" id="user_newsletter_ok"/>
                                                <label class="left" for="user_newsletter_ok">Receive our quarterly newsletter</label>
                                             </div>
                                          </div>
                                       </div>
                                       <p></p>
                                       <hr>
                                       <div class='row'>
                                          <div class='form-group'>
                                             <div class='col-sm-12 center'>
                                                <h4>
                                                   <input type="submit" name="commit" value="Join Now" id="create_user" class="btn form-submit" tabindex="9" data-disable-with="Saving"/>
                                                </h4>
                                             </div>
                                          </div>
                                       </div>
                                    </form>
                                    <script>
                                       $(document).ready(function() {
                                       
                                           $('.is_required').on('keyup', function() {
                                               var icon_id = $(this).data("icon")
                                               set_icon(icon_id, ($(this).val().length > $(this).data("minlength") - 1))
                                           });
                                       
                                           function set_icon(icon_id, is_valid) {
                                               console.log(icon_id)
                                               console.log(is_valid)
                                               if (is_valid) {
                                                   //console.log("hide")
                                                   //$(icon_id).hide();
                                                   $(icon_id).addClass("green")
                                                   $(icon_id).removeClass("red")
                                                   $(icon_id).addClass("fa-check-circle")
                                                   $(icon_id).removeClass("fa-exclamation-circle")
                                               } else {
                                                   $(icon_id).removeClass("green")
                                                   $(icon_id).addClass("red")
                                                   $(icon_id).removeClass("fa-check-circle")
                                                   $(icon_id).addClass("fa-exclamation-circle")
                                               }
                                           }
                                       
                                       });
                                    </script>
                                 </div>
                                 <div class='email_password hidden'>
                                    <form class="new_user" id="new_user" action="/garage/users/sign_in" accept-charset="UTF-8" method="post">
                                       <input name="utf8" type="hidden" value="&#x2713;"/>
                                       <input type="hidden" name="authenticity_token" value="8Wt5kTih8YjL2Rn4OEFs5qeCZsL7tQOtbr2h0Bm8jLzy0BNjvZX+ruWaooF1y2/sKkcUr7TILwG0S1TaHbvA9A=="/>
                                       <p></p>
                                       <div class='row'>
                                          <div class='form-group'>
                                             <label class='col-sm-3 control-label'>Your Password
                                             </label>
                                             <div class='col-sm-6'>
                                                <input aria-describedby='user_check' class='form-control' id='user_password' maxlength='255' name='user[password]' spellcheck='false' tabindex='2' type='password' value=''>
                                                <div class='red' id='login_err'></div>
                                                <input id='existing_user_email' name='user[email]' type='hidden'>
                                             </div>
                                          </div>
                                       </div>
                                       <p></p>
                                       <div class='row'>
                                          <div class='col-sm-12'>
                                             <p></p>
                                             <div class='center'>
                                                <input type="submit" name="commit" value="Log In" id="sign_in_btn" class="btn form-submit" tabindex="9" data-disable-with="Logging In..."/>
                                                <a class='btn form-control' href='/garage/users/password/new'>Forgot Your Password?
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 <div id='one_click'>
                                    <hr>
                                    <div class='row'>
                                       <div class='col-sm-12 center'>
                                          <h4>O si deseas</h4>
                                       </div>
                                    </div>
                                    <div class='row upper'>
                                       <div class='col-sm-4 col-sm-offset-2'>
                                          <a href='/garage/users/auth/facebook'>
                                             <div class='login_btn' style='background: #3a5499; '>
                                                <div class='login_icon' style='background: #3B5998;'>
                                                   <i class='fa fa-facebook fa-2x fa-fw white' style='margin-top: 10px;' title='Log In with Facebook'></i>
                                                </div>
                                                <div class='login_description'>
                                                   Loggeate
                                                   <span class='bigonly'>con Facebook
                                                   </span>
                                                </div>
                                             </div>
                                          </a>
                                       </div>
                                       <div class='col-sm-4'>
                                          <a href='/garage/users/auth/twitter'>
                                             <div class='login_btn' style='background: #44aee5; '>
                                                <div class='login_icon' style='background: #3fa0d3;'>
                                                   <i class='fa fa-twitter fa-2x fa-fw white' style='margin-top: 10px;' title='Log In with Twitter'></i>
                                                </div>
                                                <div class='login_description'>
                                                   Loggeate
                                                   <span class='bigonly'>con Twitter
                                                   </span>
                                                </div>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                    </div>
                                 <div class='row social_login hidden'>
                                    <div class='col-sm-12'>
                                       <div class='center'>
                                          <p></p>
                                          <hr>
                                          <h4>
                                             It looks like you've signed up using One-Click.
                                             <br>
                                             Please log in with your social network.
                                             <a class='facebook hidden social_login_btn' href='/garage/users/auth/facebook'>
                                                <div class='login_btn' style='background: #3a5499; '>
                                                   <div class='login_icon' style='background: #3B5998;'>
                                                      <i class='fa fa-facebook fa-2x fa-fw white' style='margin-top: 10px;' title='Log In with Facebook'></i>
                                                   </div>
                                                   <div class='login_description'>
                                                      Log In
                                                      <span class='bigonly'>with Facebook
                                                      </span>
                                                   </div>
                                                </div>
                                             </a>
                                             <a class='twitter hidden social_login_btn' href='/garage/users/auth/twitter'>
                                                <div class='login_btn' style='background: #44aee5; '>
                                                   <div class='login_icon' style='background: #3fa0d3;'>
                                                      <i class='fa fa-twitter fa-2x fa-fw white' style='margin-top: 10px;' title='Log In with Twitter'></i>
                                                   </div>
                                                   <div class='login_description'>
                                                      Log In
                                                      <span class='bigonly'>with Twitter
                                                      </span>
                                                   </div>
                                                </div>
                                             </a>
                                          </h4>
                                       </div>
                                    </div>
                                 </div>
                                 <script>
                                    $(document).ready(function() {
                                    
                                        $('user_password').val = "";
                                    
                                        $(".footer.navbar").hide();
                                    
                                        //$('#check_email').on("click",function(){
                                        //  var icon_id = $(this).data("icon")
                                    
                                        //  var email = $('#email')
                                        //  if (isEmail(email.val())){
                                        //    email.css('color', 'green');
                                        //    set_icon(icon_id, true)
                                        //    hideandfade($('#one_click'));
                                        //    $('#submit_btn').prop("disabled",false);
                                        //    isUser(email);
                                        //  }
                                        //  else{
                                        //    $('#email').css('color', 'black');
                                        //    set_icon(icon_id, false)
                                        //    hide_login();
                                        //    showandfade($('#one_click'));      
                                        //    $('#submit_btn').prop("disabled",true);
                                        //  }
                                        //});
                                    
                                        $("#email").keypress(function(event) {
                                            if (event.which == 13) {
                                                event.preventDefault();
                                                $('#check_email').click();
                                            }
                                        });
                                    
                                        $('#email').on("keyup", function() {
                                            $('#email').css('color', 'black');
                                            reset_email();
                                        });
                                    
                                        $('#check_email').on("click", function() {
                                            var email = $('#email')
                                            if (isEmail(email.val())) {
                                                //$('#email').css('color', 'black');
                                                isUser(email.val());
                                            } else {
                                                $('#email').css('color', 'red');
                                                $('#submit_btn').prop("disabled", true);
                                            }
                                        });
                                    
                                        $('#email').on('blur', function() {
                                            $(this).mailcheck({
                                                suggested: function(element, suggestion) {
                                                    $('#email').css('color', 'red');
                                                    $('#email_error').removeClass("hidden");
                                                    $('#email_suggestion').html("Did you mean " + suggestion.full + "?");
                                    
                                                },
                                                empty: function(element) {
                                                    $('#email').css('color', 'black');
                                                    $('#email_error').addClass("hidden");
                                                }
                                            });
                                        });
                                    
                                        function isEmail(email) {
                                            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                                            return regex.test(email);
                                    
                                        }
                                    
                                        function set_icon(icon_id, is_valid) {
                                            console.log(icon_id)
                                            console.log(is_valid)
                                            if (is_valid) {
                                                //console.log("hide")
                                                //$(icon_id).hide();
                                                $(icon_id).addClass("green")
                                                $(icon_id).removeClass("red")
                                                $(icon_id).addClass("fa-check-circle")
                                                $(icon_id).removeClass("fa-exclamation-circle")
                                            } else {
                                                $(icon_id).removeClass("green")
                                                $(icon_id).addClass("red")
                                                $(icon_id).removeClass("fa-check-circle")
                                                $(icon_id).addClass("fa-exclamation-circle")
                                            }
                                        }
                                    
                                        //$('#user_password').on("keyup",function(){
                                        //if ($('#user_password').val().length > 7){
                                        //checkPassword($('#email').val(), $(this).val());
                                        //}
                                        //});
                                    
                                        function hideandfade(element) {
                                            element.fadeOut("slow").addClass("hidden");
                                        }
                                    
                                        function showandfade(element) {
                                            element.fadeIn("slow").removeClass('hidden');
                                        }
                                    
                                        function checkPassword(e, p) {
                                            $.ajax({
                                                url: "/garage/users/user_check",
                                                type: "POST",
                                                data: "e=" + encodeURIComponent(e) + "&p=" + encodeURIComponent(p) + "&authenticity_token=nqyoo+EnLjomOZTOqSHUBjhG/eHWqzPGnjM98ln0SQqdF8JRZBMhHAh6L7fkq9cMtYOPjJnWH2pExcj4XfMFQg==",
                                                dataType: "HTML",
                                                success: function(data, status, xhr) {
                                                    console.log(data);
                                                    $('#login_err').text = "";
                                                    hideandfade($('#user_nope'));
                                                    showandfade($('#user_yep'));
                                    
                                                },
                                                error: function(jqXHR, textStatus, errorThrown) {
                                                    console.log(textStatus);
                                                    //console.log($.parseJSON(jqXHR["responseText"])["error"]);
                                                    $('#login_err').text($.parseJSON(jqXHR["responseText"])["error"]);
                                                    hideandfade($('#user_yep'));
                                                    showandfade($('#user_nope'));
                                                    // Handle errors here
                                                    console.log('ERRORS: ' + textStatus);
                                                    // STOP LOADING SPINNER
                                                }
                                            });
                                        }
                                    
                                        function isUser(email) {
                                    
                                            $.ajax({
                                                url: "/garage/users/user_exists",
                                                type: "POST",
                                                data: "email=" + encodeURIComponent(email) + "&authenticity_token=IyNHA0ogzDH2ilq68SFrXcN//G6b0FC48+FZkNeFsOwgmC3xzxTDF9jJ4cO8q2hXTrqOA9StfBQpF6ya04L8pA==",
                                                dataType: "HTML",
                                                success: function(data, status, xhr) {
                                                    d = $.parseJSON(data);
                                                    console.log(d)
                                                    hideandfade($('#check_email'));
                                                    if (d["is_user"]) {
                                                        if (d["provider"] == "email") {
                                                            $('#existing_user_email').val(email);
                                                            show_password();
                                    
                                                        } else if (d["provider"] == "nbr") {
                                                            $(location).attr('href', "/nbr");
                                                        } else {
                                                            show_social(d);
                                                        }
                                    
                                                    } else {
                                                        $('#new_user_email').val(email);
                                                        show_sign_up();
                                    
                                                    }
                                                }
                                            });
                                        }
                                    
                                        function reset_email() {
                                            hideandfade($('.email_password'));
                                            hideandfade($('.new_user_passwords'));
                                            hideandfade($('.social_login'));
                                            hideandfade($('.social_login_btn'));
                                            showandfade($('#one_click'));
                                            showandfade($('#check_email'));
                                        }
                                    
                                        function hide_login() {
                                            console.log("hide login");
                                            hideandfade($('.social_login'));
                                            hideandfade($('.social_login_btn'));
                                            hideandfade($('.email_password'));
                                            hideandfade($('.new_user_passwords'));
                                        }
                                    
                                        function show_password() {
                                            console.log("show password");
                                            $('#login_err').text = "";
                                            hideandfade($('.social_login'));
                                            hideandfade($('.social_login_btn'));
                                            hideandfade($('#one_click'));
                                            hideandfade($('.new_user_passwords'));
                                            showandfade($('.email_password'));
                                        }
                                    
                                        function show_social(d) {
                                            console.log("show social");
                                            console.log(d["provider"]);
                                    
                                            hideandfade($('.email_password'));
                                            hideandfade($('#one_click'));
                                            hideandfade($('.new_user_passwords'));
                                            showandfade($('.social_login'));
                                            showandfade($("." + d["provider"]));
                                            $('#submit_btn').prop("disabled", true);
                                    
                                        }
                                    
                                        function show_sign_up() {
                                            console.log("show new user passwords")
                                            hideandfade($('.social_login'));
                                            hideandfade($('.social_login_btn'));
                                            hideandfade($('#one_click'));
                                            hideandfade($('.email_password'));
                                            showandfade($('.new_user_passwords'));
                                        }
                                    
                                    });
                                 </script>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class='unobtrusive-flash-container'></div>
     
    
      <script>
         $(document).ready(function() {
         
             //console.log($('.footer').get_timezone());
             $.cookie("time_zone", $('.footer').get_timezone());
         });
      </script>
   </body>
</html>